/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

/* Colors pallet */
:root {
    --pink: #CF2857;
    --navy-blue: #1B212B;
    --sky: #7bb4e0;
    --loblolly: #b0d3e8;
    --light-orange: #FCCD4D;
    --orange: #F8B500;
}

/* Highlighting of text */
::selection {
    background-color: var(--light-orange);
  }

  /* Remove default values */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 600;
}

/* Set up transparency of background image */
body::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 100vh;
    background: url(../images/clouds-background-resized.jpg);
    background-color: var(--sky);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
    z-index: -1;
}

h3 {
    margin: 2rem 0;
    font-weight: 600;
}

.greyout-background {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Style of main game container */
#game-container {
    position: absolute;
    text-align: center;
    color: var(--navy-blue);
    width: 80%;
    height: 30rem;
    max-height: 30rem;
    max-width: 50rem;
    box-sizing: border-box;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    padding: 1%;
}

/* Style top line of the game container, icons and text inside it */
.top-line {
    line-height:2.5rem;
    text-align: right;
    padding-bottom: 0.5rem;
}

.user-icon {
    font-size:250%; 
    float: left;
}

/* username display */
.top-line p {
    float: left;
}

/* Style instructions icon and remove default background color */
#instructions-icon {
    background: none !important;
    font-size: 250%;
    float: right;
}

#login-screen, #phrase, .result-text {
    text-transform: uppercase;
}

/* Color gradient to game title */
#game-title {
    background: #FCEABB;
    background: -webkit-repeating-linear-gradient(to right, #FCEABB 24%, #FCCD4D 13%, #F8B500 41%, #FBDF93 71%);
    background: -moz-repeating-linear-gradient(to right, #FCEABB 24%, #FCCD4D 13%, #F8B500 41%, #FBDF93 71%);
    background: repeating-linear-gradient(to right, #FCEABB 24%, #FCCD4D 13%, #F8B500 41%, #FBDF93 71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Rammetto One', cursive;

    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

input, label {
    font-size: 100%;
    margin-bottom: 1rem;
    border-radius: 0.7rem;
}

input {
    box-shadow: 1px 1px 10px var(--loblolly);
    border: 1px solid var(--loblolly);
    padding: 0.7rem;
    font-weight: bold;
    width: 35%;
}

/* Override default dark outline color */
input:focus {
    outline: none !important;
    border-color: var(--sky);
}

label {
    margin-top: 0.5rem;
}

.button {
    background: linear-gradient(to right, var(--light-orange), var(--orange)) !important;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    width: 35%;
    border-radius: 0.7rem;
    box-shadow: 0 10px 20px -8px rgba(57,95,122,.7);
}

.button:hover {
    background: linear-gradient(to right, var(--orange), var(--light-orange)) !important;
}

/* Style for message when no user input & correct answer when not guessed */
.user-log-error, #correct-answer {
    font-size: 90%;
    color: var(--pink);
    padding-top: 1.2rem;
    padding: 1.2rem 0.5rem 0;
}

/* Modal with game instructions */
#modal-header {
    font-weight: bold;
    font-family: 'Rammetto One', cursive;
}

.show-modal {
    color: var(--pink);
    width: 100%;
    height: 40rem;
    max-height: 30rem;
    max-width: 50rem;
    align-items: center;
    display: block;
    z-index: 2;
}

.modal-content {
    box-shadow: 1px 1px 20px var(--loblolly);
    padding: 4%;
    display: block !important;
    height: 100%;
}

/* Buttons to select game level */
.button-level {
    width: 60%;
}

/* Game screen */
/* Display of username, selected game level and remaining guesses in top line */
#username, #difficulty-level {
    font-size: 100%;
    font-weight: bold;
    text-transform: none;
    margin-left: 2%;
    margin-bottom: 0;
    display: inline-block;
}

#difficulty-level {
    text-align: center;
    display: inline;
}

#cloud-icon {
    color: var(--sky);
    font-size: inherit;
    font-weight: bold;
    font-size: 130%;
    display: inline-block;
    vertical-align: top;
    display:none;
}

#guesses {
    color: var(--navy-blue);
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
}

#category {
    margin-bottom: 0.5rem;
}

#sun-image {
    width: 35%;
}

#phrase {
    letter-spacing: 0.4rem;
    font-weight: bold;
    padding: 2%;
    font-size: 1.2rem;
}

#game-screen p {
    font-weight: 400;
    display: inline;
}

/* Styling of screens */
.image-result img {
    width: 17%;
}

#current-round-score {
    color: var(--pink);
}

/* Change style of span with letter 's' for score over 1 point */
#plural {
    font-size: inherit;
}

.scoring-display {
    margin-top: 3%;
}

#next-phrase, #try-again, #restart-game {
    width: 50%;
    margin-top: 1rem;
}

/* Style of site footer */
footer {
    position: absolute;
    width: 80%;
    max-width: 50rem;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -45%);

}

footer p {
    padding-top: 5%;
    margin-bottom: 0;
    font-size: 90%;
}

footer a {
    font-size: 1.6rem;
    padding-right: 0.5rem;
    color: var(--navy-blue);
    }

footer a:hover {
    color: var(--pink);
}

/* contact form */
a {
    text-decoration: none;
    padding: inherit;
    color: inherit;
}

a:hover {
    color: inherit;
}

.btn-send-form {
    line-height: normal;
}

.image-404 img {
    width: 35%;
    padding: 1.5rem 0;
}

/* Media querry adjustments for different screen sizes */

@media all and (max-width: 390px) {
    /* Style main page */
    /* Adjust game container size for iPhone5 screen */
    #game-container {
        top: 40%;
        width: 90%;

    }

    #user-log {
        width: 50%;
    }

    footer {
        top: 90%;
        padding-top: 0;
        text-align: center;
        width: 60%;
    }

    footer p {
        padding-top: 15%;
    }

    .float-end {
        float: none !important;
        clear: left;
    }  

    /* Style game screen */
    .top-line {
        font-size: 80%;
    }

    #next-phrase, #try-again, #restart-game {
        width: 70%;
    }

    #next-prase, #restart game {
        margin-bottom: 0.5rem;
    }

    .result-image img {
        width: 23%;
    }
}

@media all and (max-width: 768px) {
    #user-log {
        width: 50%;
    }

    input {
        width: 50%;
    }

    p {
        font-size: 1.1rem;
    }

    .result-image img {
        width: 23%;
    }

    .image-404 img {
        width: 50%;
    }
}