@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700;800&display=swap');

:root {
    --pink: #CF2857;
    --navy-blue: #1B212B;
    --ming:#395F7A;
    --hoki: #6883A7;
    --sky: #7bb4e0;
    --loblolly: #b0d3e8;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 105%;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 600;
}

body::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 100vh;
    background: url(../images/clouds-background.jpg);
    background-color: var(--sky);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
    z-index: -1;
}

#game-container {
    position: absolute;
    text-align: center;
    color: var(--navy-blue);
    text-transform: uppercase;
    width: 80%;
    height: 30rem;
    max-height: 30rem;
    max-width: 40rem;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1%;
}

.top-line {
    line-height:3rem;
    text-align: right;
    background: none !important;
}

.top-line p {
    float: left;
}

.user-icon {
    font-size:250%; 
    float:left;
}

.instruction-icon {
    font-size: 250%;
}

#back {
    font-size: 150%;
    display: none;
}

#username {
    font-size: 100%;
    font-weight: bold;
    text-transform: none;
    margin-left: 2%;
    margin-bottom: 0;
}

button {
    background: none !important;
}


.user-input input,
.user-input label {
    font-size: 100%;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
}
.user-input input {
    box-shadow: 1px 1px 10px var(--loblolly);
    border: 1px solid var(--loblolly);
}

.user-log-error {
    font-size: 90%;
    color: var(--pink);
    padding-top: 3rem;
}


#choose-level {
    display: none;
}

#game-screen {
    display: none;
}

#correct-screen {
    display: none;
}

#wrong-screen {
    display: none;
}